#####################################################################
#   Bed Heater
#   240V, 750W Fermio Labs Silicone Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
# sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.75
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.02   # for 50Hz Australian AC Mains Power
#control = pid
#pid_kp = 42.987
#pid_ki = 0.975
#pid_kd = 473.935

[verify_heater heater_bed]
hysteresis: 2.5
check_gain_time: 240
